#about_us.page_header 
{
	background-image: url('/Example-Website/res/imgs/aboutus_header_bg.jpg');
	background-size: 1871px 600px;
}

#founders_container
{
	padding-top: 75px;
}

#partners_container
{
	padding-top: 35px;
}
