
/* ANCHOR BUTTON */
/* /////////////////////////////////////////////////// */
.topPageAnchorButton
{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	color: white;
	font-size: 32px; 
	right: 0; 
	margin-right: 5px;
	cursor: pointer; 	
	
}

.top_page_anchor
{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	color: white;
	font-size: 32px; 
	right: 0; 
	margin-right: 5px;
	cursor: pointer; 	
	float: right;
}

.top_page_anchor::after 
{
    content: &#9650;
}

/* Product Button*/
/* /////////////////////////////////////////////////// */
.large_button
{
	width: 350px;
	
	border: 2px solid #0090D0;
	
	padding-right: 40px;
	padding-left: 40px;
	
	position: relative;
	cursor: pointer;
	
	color: #0090D0;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
	
	border-radius: 50px;

	margin: auto;
}
					
.large_button:hover
{
	border-color: transparent;
	color: white;
	background: #0090D0;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
}
					
.large_button
{
	font-family: Young;
	font-size: 48px;
	
	display:flex;
	justify-content:center;
	align-items:center;
	
	margin-top: 5px;
	margin-bottom: 0px;
}


/* Showcase Button */
/* /////////////////////////////////////////////////// */


.small_button
{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:16px;
	
	cursor: pointer;
	border-radius: 25px;
	background: #0090D0;
	color: white;
	padding: 8px 2.5%;
	width: 250px;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
}


.small_button:hover
{
	background: #0E5F8E;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
}
