@charset "utf-8";
/* CSS Document */

/* 
NOTE! This version of the website was designed desktop-first rather than mobile first so 
the order of @media attributes go from large-widths down. In the future I will fix this.

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) 
{
	/* COLUMNS
	/////////////////////////////*/
	.c3_wrapper_foldable
	{
		display: block;
	}
	
	.c3_segment_foldable
	{
		width: 100%;
		padding: 0;
	}	
	
	
	/*WEBSITE HEADER
	///////////////////////////////*/
	.header_left
	{
		padding-left: 10px;
	}
	
	.header_button
	{
		width: 100px;
	}
	
	.header_right
	{
		padding-right: 0px;
	}
	
	/*PAGE HEADER
	///////////////////////////////*/
	.page_header
	{
		height: 300px;
	}
	
	.page_header_header
	{
		font-size: 64px;
	}
	
	/* COLUMNS
	/////////////////////////////*/
	
	.c2_segment
	{
		width: unset;
		text-algin: center;
	}
	
	.c2_text_container_left
	{
		text-align: center;
		max-width: unset;
	}
	
	.c2_text_container_right
	{
		text-align: center;
		max-width: unset;
	}
	/* SUMMARY
	/////////////////////////////*/
	.summary_facts
	{
		min-width: 120px;
	}
	
	/* SHOWCASE
	//////////////////////////*/
	
	.showcase_description
	{
		display: block;
		text-align: center;
	}
	.showcae_text
	{
		width: 100%;
		padding-bottom: 15px;
	}
	
	.showcase_content
	{
		display: block;
		height: 100%;
	}
	
	.color_container
	{
		width: 100%;
		height: 65px;
		margin: 20px 0;
	}
	
	/*BUTTONS 
	////////////////////////*/
	.large_button
	{
		width: 300px;
		font-size: 42px;
		padding: 0 5%;
	}
	
	#presskit_showcase_logos_content_container
	{
		display: block;
	}
	
	#presskit_showcase_pic_0
	{
		width: 50%;
	}
		
	#presskit_showcase_pic_1
	{
		width: 85%;
	}

	#presskit_showcase_pic_2
	{
		width: 15%;
	}

	.showcase_image
	{
		margin: auto;
		padding: 10px 0;
	}
}

@media screen and (max-width: 500px) 
{
	/* HEADER
	////////////////////////////////*/
	.header 
	{
		height: 100%;
		width: 100%;
		
		display:block;
		display: -webkit-block
		
		margin-top: -10px;
		
		text-align: center;
	}
	
	.header_left
	{
		padding-left: 0;
		width: 100%;
		margin: -10px 0px;
	}
	
	.header_right
	{
		display: block;
		display: -webkit-block;
		margin: 0;
		padding: 0;
		background: #F2F2F2;
	}
	
	.header_button_a
	{
		height: 40px;
		vertical-align: -webkit-center;
	}
	
	.header_button
	{
		width: 100%;
		height: 40px;
		vertical-align: -webkit-center;
	}
	
	.header_button:hover {
		background: #66D9EF;
		border-bottom: 0px solid #66D9EF;
		color: white;
	}
	
	#header_resume_button:hover
	{
		background: #FF1B5B;
		border-bottom: 0px solid #FF1B5B;
		color: white;
	}
}

@media screen and (max-width: 400px) 
{
	h1
	{	
		font-size: 38px;
	}

	/*PAGE HEADER
	///////////////////////////////*/
	.page_header
	{
		height: 200px;
	}
	
	.page_header_header
	{
		font-size: 48px;
	}
	
	/* COLUMNS
	/////////////////////////////*/
	.c3_wrapper
	{
		display: block;
	}
	
	.c3_segment
	{
		width: 100%;
		padding: 0;
	}	
	
	.large_button
	{
		width: 300px;
		font-size: 32px;
		padding: 0 0%;
	}
	
	.c2_text_container_right
	{
		padding-left: 2.5%;
	}
	
	.c2_text_container_left
	{
		padding-right: 2.5%;
	}
	
	/*Vertical Margin
	///////////////////////////*/
	.vertical_margin
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}
}