a
{
	text-decoration: none;
	outline: 0;
	-webkit-transition:  0.05s; /* Safari */
	transition:  0.05s;
}

a:link 
{
	color: #262626;
}

a:visited 
{
    color: #262626;
}

a:hover  
{
    color: #262626;
}

a:active 
{
    color: #66D9EF;
}


::selection 
{
    color: white;
    background: #66D9EF;
}

/* Code for Firefox */
::-moz-selection 
{ 
    color: white;
    background: #66D9EF;
}


.image_icon
{
	height: 16px;
	width: 16px;
	margin-bottom: -2px;
}

#top_page_anchor
{
	float: right;
}


@media only screen and (max-width: 860px) 
{
	
	.showcase_inner_container
	{
		display: block;
	}
			.bodycontainer
			{
				display: block;
			}
			.header_bg
			{
				height: 300px;
			}
			
			.header_bg_inner_container
			{
				height: 300px;
			}
}