@charset "utf-8";
/* CSS Document */


html{
	 width:100%;
	height:100%;
	position:relative;
	margin:0px;
	padding:0px;
   position:relative;
}

body{
	height:100%;
	display:block;
	font-family:calibri;
	
	margin:0px;
	padding:0px;
	background-color:white;
	font:15px helvetica,arial,san-serif;
	color: #2f2d2d; height:100%; min-height:100%
}



		@font-face 
		{
			font-family: 'OpenSans';
			src: 	url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), 
					url('../fonts/OpenSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
		}
		
		@font-face 
		{
			font-family: 'young';
			src: 	url('../fonts/Young.eot?#iefix') format('embedded-opentype'), 
					url('../fonts/Young.ttf')  format('truetype'); /* Safari, Android, iOS */
		}
		
.bodycontainer { display:block; width:100%; height:100%;  }
#header { display:table-row; height:50px; background-color:red; }
#fullwidth { display:table-row; background-color:white;display: block;}
#rectangle { display:table; background-color:white; width:95%; padding-left: 25px; padding-right: 25px; height:100%; width: 80%;}
#width { padding: 30px; padding-top: 0px;}
	
	
	
.header 
		{
			height: 50px;
			background: white;
			margin:0px auto;
		}
		.header_left
		{	
			padding-top: 15px;
			padding-left: 35px;
			display: inline-block;
		}
		
		.header_button_a
		{
			text-decoration: none;
			color: #2293D6;
			padding: 10% 6%;
		}
		.header_right
		{
			float: right;
			//padding-right: 50px;
			font-family: OpenSans;
			font-size: 13px;
			color: #93CFE5;
			display: flex;
		}
		
		.header_td
		{
			text-decoration: none;
			border-bottom: 0px solid #66D9EF;
			-webkit-transition:  0.15s; /* Safari */
			transition:  0.15s;
			font-size: 13px;
			height: 50px;
			text-align: center;
			color: #93CFE5;
			width: 100px;
			cursor: pointer;
		}

		.header_table
		{
			width: 500px;
		}
		
		.header_td:hover
		{
			text-decoration: none;
			border-bottom: 8px solid #66D9EF;
			-webkit-transition:  0.25s; /* Safari */
			transition:  0.25s;
		}
		
		.header_resume_button_td
		{
			text-decoration: none;
			border-bottom: 0px solid #F75B75;
			-webkit-transition:  0.15s; /* Safari */
			transition:  0.15s;
			font-size: 13px;
			height: 50px;
			text-align: center;
			color: #93CFE5;
			width: 100px;
			cursor: pointer;
		}
		
		.header_resume_button_td:hover
		{
			text-decoration: none;
			border-bottom: 8px solid #F75B75;
			-webkit-transition:  0.25s; /* Safari */
			transition:  0.25s;
		}
		
	
#pp_pic0
{
	width: 100%;
	padding-left: 30px;
	padding-left: 30px;
}

.about_us_text_container
{
	padding-top: 15px;
	border-right: 0px solid #D8D8D8;
	background: white;
	width: 31%;
	display: inline-table;
	height: 0px;
	text-align: center;
	padding: 1%;
}

.body_subbox_title
{
	font-family: young;
	font-size: 32px;
	text-align: center;
	color: #0090D0;
	margin-bottom: 0px;
	margin-top: 10px;
}

.body_subbox_desc
{
	font-family: young;
	font-size: 14px;
	display: block;
	letter-spacing: 0.2;
	text-align: center;
	margin-top: 0px;
}

.about_person_container
{
	height: 250px; 
	display: inline-flex;
	padding-right: 20px;
}

.about_person_name
{
}

.about_person_title
{
}

.about_person_picture
{
	background: black;
	width: 200px;
}

.about_person_desc_container
{
	text-align: left;
	background: white;
	border-right: 0px solid #D8D8D8;
	margin-left: 110px;
	width: 250px;
	margin-top: -2px;
	display: inline-block;
}

.header_title_text
{
	font-family: young;
	font-size: 64px;
	color: white;
	position: relative;
}

.header_caption
{
	font-family: young;
	font-size: 36px;
	text-align: center;
	display: block;
	color: #212121;
	position: relative;
	padding-top: 30px;
}

.header_bg
{
	width: 100%;
	height:600px;
	text-align: center;
	margin: auto;
	background-size: 100% auto;
	background-position: 0px -150px;
	background-position: center center;
	display: inline-block;
	font-size:64px;
	letter-spacing: 4px;
}

.example_header
{
	font-family: young;
	letter-spacing: 1px;
	color: #0090D0; 
	padding-bottom: 13px;
	margin-bottom: 0px

}

.small_button
{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:16px;
	font-family: young;
	cursor: pointer;
	border-radius: 25px;
	background: #0090D0;
	color: white;
	padding: 8px 2.5%;
	width: 250px;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
}

.product_button_container
					{
						border-style: solid;
						border-width: 2px;
						padding-right: 40px;
						padding-left: 40px;
						position: relative;
						cursor: pointer;
						border-color: #0090D0;
						color: #0090D0;
						-webkit-transition:  0.3s; /* Safari */
						transition:  0.3s;
						border-radius: 50px;
					}
					
					.product_button_container:hover
					{
						border-color: transparent;
						color: white;
						background: #0090D0;
						-webkit-transition:  0.3s; /* Safari */
						transition:  0.3s;
					}
					
					.product_button
					{
						font-family: Young;
						font-size: 48px;
						display:flex;
						justify-content:center;
						align-items:center;
						margin-top: 5px;
						margin-bottom: 0px;
					}
					
					
.small_button:hover
{
	background: #0E5F8E;
	-webkit-transition:  0.3s; /* Safari */
	transition:  0.3s;
}


.showcase_container
{
	display: flex; 
	justify-content: center;
	align-items: center;
	background: #EFEFEF;
	width: 100%;
}

.section_header
{
	font-family: young;
	letter-spacing: 1px;
	padding-bottom: 0px;
	font-size: 28px;
	color: #262626;
	margin-bottom:-22px;
	text-align: left;
}

.section_secondary_header
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: young;
	letter-spacing: 1px;
	color: #0090D0; 
	color: #0090D0;
	font-size: 28px;
	text-align: left;
}



.about_person_picture
{
	background: black;
	width: 200px;
}


.section_container
{
	padding-top: 3%;
}

.fact_header
{	
	font-family: young;
	letter-spacing: 1px;
	color: #0090D0; 
	margin-bottom: 0px
	font-size: 14px;
	
}

.fact_desc
{
	font-family: young;
	letter-spacing: 1px;
	color: #262626; 
	font-size: 14px;
	
}

.fact_container
{
	padding-bottom: 30px;
}

.topPageAnchorButton
{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	color: white;
	font-size: 32px; 
	right: 0; 
	margin-right: 5px;
	cursor: pointer; 	
	
}

.body_subbox_title
{
	font-family: young;
	font-size: 32px;
	text-align: center;
	color: #0090D0;
	margin-bottom: 0px;
	margin-top: 10px;
}

.body_subbox_desc
{
	font-family: young;
	font-size: 14px;
	display: block;
	letter-spacing: 0.2;
	text-align: center;
	margin-top: 0px;
}

.about_person_container
{
	height: 250px; 
	display: inline-flex;
	padding-right: 20px;
}

.about_person_name
{
}

.about_person_title
{
}

.about_person_picture
{
	background: black;
	width: 200px;
}

.about_person_desc_container
{
	text-align: left;
	background: white;
	border-right: 0px solid #D8D8D8;
	margin-left: 110px;
	width: 250px;
	margin-top: -2px;
	display: inline-block;
}

.header_title_text
{
	font-family: young;
	font-size: 64px;
	color: white;
	position: relative;
}

.header_caption
{
	font-family: young;
	font-size: 36px;
	text-align: center;
	display: block;
	color: #212121;
	position: relative;
	padding-top: 30px;
}

.header_bg_inner_container
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.section_header
{
	font-family: young;
	letter-spacing: 1px;
	padding-bottom: 0px;
	font-size: 28px;
	color: #262626;
	margin-bottom:-22px;
}


.section_secondary_header
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: young;
	letter-spacing: 1px;
	color: #0090D0; 
	color: #0090D0;
	font-size: 28px;
	
}

.section_paragraph
{
	font-family: OpenSans;
	margin-top: -15px;
	display: block;
	font-size: 100%;
	text-align: left;
}

.section_container
{
	padding-top: 3%;
}

.fact_header
{	
	font-family: young;
	letter-spacing: 1px;
	color: #0090D0; 
	margin-bottom: 0px
	font-size: 14px;
	
}

.fact_desc
{
	font-family: young;
	letter-spacing: 1px;
	color: #262626; 
	font-size: 14px;
	
}

.fact_container
{
	padding-bottom: 30px;
}

.colpal_name
{
	display:flex;
	justify-content:center; 
	align-items:center;
	height: 25px;
	width: 125px;
	background: #A5A5A5;
	color: black;
	font-family: young;
	font-size: 14px;
	padding-top: 3px;
	letter-spacing: 1.5px;
}

.showcase_description
{
	display: flex; justify-content: center; align-items: center;
}
			
.showcase_container_800
{
	display: none;
}

.founders_container_800
{
	display: none;
}

	.showcase_inner_container
	{
		max-width: 1200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

@media only screen and (max-width: 860px) 
{
	
	.showcase_inner_container
	{
		display: block;
	}
			.bodycontainer
			{
				display: block;
			}
			.header_bg
			{
				height: 300px;
			}
			
			.header_bg_inner_container
			{
				height: 300px;
			}
			
			.about_us_text_container
			{
				width: 100%
			}
			
			.header_table
			{
				width: 400px;
			}
			
			.header_left
			{
				padding-left: 15px;
			}
			
			.header_title_text
			{
				font-size: 48px;
				word-spacing: 15px;
				display: block;
			}
			
			.showcase_container
			{
				display: none;
			}
			
			.showcase_container_800
			{
				display: block;
			}
			
			.partners_container
			{
				display: none;
				width: 100%;
			}
			
			.partners_container_800
			{
				display: block;
			}
			
			.header_button_a
			{
				padding: 10% 10%;
			}
			
			#pp_pic1
			{
				width: 100%;
			}
			
			.showcase_description
			{
				display: none;
			}
			
}