@charset "utf-8";
/* CSS Document */


/* GLOBALS */
/*///////////////////////////////////*/
h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	margin: 10px;
}

h1
{
	font-size: 72px;
}

h2
{
	font-size: 2.5em;
}

h3
{
	font-size: 32px;
}

h4
{
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 30px;
}

h5
{
	font-size: 22px;
}


/* COLORS */
/*///////////////////////////////////*/

.text_plain_blue
{
	color: #0090D0;
}



.medium_container
{

	padding-top: 10%;
}

.medium_container:first-child
{
	padding-top: 0;
}

.medium_description
{
	font-family: OpenSans;
	margin: 5px 0;
}

.superlarge_width
{
	max-width: 1250px;
}

.large_width
{
	max-width: 1000px;
}

.mediumlarge_width
{
	max-width: 800px;
}

.medium_width
{
	max-width: 700px;
}

.mediumsmall_width
{
	max-width: 550px;
}

.small_wdith
{
	max-width: 450px;
}



.page_header_header
{
	font-size: 72px;
	color: white;
}


.no_margin
{
	margin: 0;
}

.no_padding
{
	padding: 0;
}

.vertical_margin
{
	margin-top: 10%;
	margin-bottom: 10%;
}

.c2_text_container_right
{
	text-align: left;
	display: block;
	padding-left: 5%;
	padding-right: 10px;
}

.c2_text_container_left
{
	text-align: left;
	display: block;
	padding-right: 5%;
	margin-left: auto;
	padding-left: 10px;
}


.c3_header
{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
}

.c3_desc
{
	font-size: 14px;
	display: block;
	letter-spacing: 0.2;
	text-align: center;
	margin-top: 0px;
}


				
