<link rel="stylesheet" href="/Example-Website/res/css/header.css"/>

<div class="header">
	<div class="header_left">
		<a href="index.html"><p class="comapny_name">SOME COMPANY</p></a>
	</div>
			
	<div class="header_right">
		<a href="/Example-Website/" class="header_button_a"><div class="header_button">PRODUCT</div></a>
		<a href="/Example-Website/Press_Kit/" class="header_button_a"><div class="header_button">RESS KIT</div></a>
		<a href="/Example-Website/About_Us/" class="header_button_a"><div class="header_button">ABOUT US</div></a>
		<a href="http://omrin7.github.io/" class="header_button_a"><div class="header_button" id="header_resume_button">RESUME WEBSITE</div></a>
	</div>
</div>