
#press_kit.page_header 
{
	background-image: url('/Example-Website/res/imgs/presskit_header_bg.jpg');
	background-size: 1871px 600px;
}

#presskit_showcase_logos_content_container
{
	max-width: 1200px;
}