@font-face 
{
	font-family: 'OpenSans';
	src: 	url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/OpenSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
		
@font-face 
{
	font-family: 'young';
	src: 	url('../fonts/Young.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/Young.ttf')  format('truetype'); /* Safari, Android, iOS */
}